<blockquote>
	<small>e.g., cell lines, antiserum, etc.</small>
	<small>All biologicals to be used in animals must be listed here, regardless of species.</small>
</blockquote>
<div class="row">
	<div class="col-sm-12">
		<div class="checkbox checkbox-styled">
			<b>None</b>
			<label>
				<input type="checkbox" value="" ng-model="details.bioAnimalMaterial.none" ng-change="updateBioAnimalMaterial('none',details.bioAnimalMaterial.none)" ng-disabled="!isEditable">
				<span>(check if none)</span>
			</label>
		</div>
	</div>
</div>
<div ng-hide="details.bioAnimalMaterial.none">
	<div class="row">
		<div class="col-sm-12 text-right">
			<button type="button" class="btn btn-primary btn-sm" ng-click="addBioAnimalMaterialsUsed()" ng-show="isEditable">Add Material</button>
		</div>
		<br /><br />
	</div>
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th><b>Material Name</b></th>
					<th><b>Source</b></th>
					<th class="col-xs-1"><b>Sterile/Attenuated?<br>Y/N</b></th>
					<th class="col-xs-1"><b>For use in rodents?</b></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="material in details.bioAnimalMaterial.bioMaterialsUsed">
					<td editable-text="material.name" onaftersave="updateBioAnimalMaterialsUsed('name',$data,material.id)" ng-show="isEditable">{{material.name || 'Empty'}}</td>
					<td editable-text="material.source" onaftersave="updateBioAnimalMaterialsUsed('source',$data,material.id)" ng-show="isEditable">{{material.source || 'Empty'}}</td>
					<td ng-hide="isEditable">{{material.name}}</td>
					<td ng-hide="isEditable">{{material.source}}</td>
					<td class="text-center">
						<div class="checkbox checkbox-styled">
							<label>
								<input type="checkbox" value="" ng-model="material.sterileAttenuated" ng-change="updateBioAnimalMaterialsUsed('sterileAttenuated',material.sterileAttenuated,material.id)" ng-disabled="!isEditable">
								<span></span>
							</label>
						</div>
					</td>
					<td class="text-center">
						<div class="checkbox checkbox-styled">
							<label>
								<input type="checkbox" value="" ng-model="material.useInRodent" ng-change="updateBioAnimalMaterialsUsed('useInRodent',material.useInRodent,material.id)" ng-disabled="!isEditable">
								<span></span>
							</label>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<span>I certify that the MAP/RAP/HAP/PCR tested materials to be used in rodents have not been passed through rodent species outside of the animal facility in question and/or the material is derived from the original MAP/RAP/HAP/PCR tested sample. To the best of my knowledge the material remains uncontaminated with rodent pathogens.</span>
<div class="row">
	<div class="col-sm-6"></div>
	<div class="col-sm-3 text-right">
		<b class="text-left text-primary" e-placeholder="Enter Initial" editable-text="details.bioAnimalMaterial.initialsOfPI" onaftersave="updateBioAnimalMaterial('initialsOfPI',$data)" ng-show="isEditable">{{details.bioAnimalMaterial.initialsOfPI || 'Enter'}}</b>
		<b class="text-left text-primary" ng-hide="isEditable">{{details.bioAnimalMaterial.initialsOfPI}}</b>
	</div>
	<div class="col-sm-3"><b>Initials of Principal Investigator</b></div>	
</div>