<blockquote>
    <small>Use of hazardous agents requires the approval of an IC safety specialist. Registration Documents for the use of recombinant DNA or potential human pathogens may be required to be attached at the discretion of the ACUC.</small>
</blockquote>
<div class="row">
    <div class="col-sm-12">
        <div class="checkbox checkbox-styled">
            <b>None</b>
            <label>
                <input type="checkbox" value="" ng-model="details.hazardousAgents.none" ng-change="updateHazardousAgents('none',details.hazardousAgents.none)" ng-disabled="!isEditable">
                <span>(check if none)</span>
            </label>
        </div>
    </div>
</div>
<div ng-hide="details.hazardousAgents.none">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-sm-4"></th>
                    <th class="col-sm-1"><b>Yes</b></th>
                    <th class="col-sm-1"><b>No</b></th>
                    <th class="col-sm-6"><b>List agents and registration document number (if applicable)</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Radionuclides</td>
                    <td class="text-center">
                        <label class="radio-inline radio-styled radio-primary">
                            <input type="radio"  name="radionuclides" value="true" ng-checked="details.hazardousAgents.radionuclides === true" ng-click="updateHazardousAgents('radionuclides',true)" ng-disabled="!isEditable"><span></span>
                        </label>
                    </td>
                    <td class="text-center">
                        <label class="radio-inline radio-styled radio-warning">
                            <input type="radio" name="radionuclides" value="false" ng-checked="!details.hazardousAgents.radionuclides || details.hazardousAgents.radionuclides === false" ng-click="updateHazardousAgents('radionuclides',false)" ng-disabled="!isEditable"><span></span>
                        </label>
                    </td>
                    <td e-style="width:200%"  editable-text="details.hazardousAgents.radionuclidesAgentsAndRegNum" onaftersave="updateHazardousAgents('radionuclidesAgentsAndRegNum',$data)" ng-show="isEditable">{{details.hazardousAgents.radionuclidesAgentsAndRegNum || 'Empty'}}</td>
                    <td ng-hide="isEditable">{{details.hazardousAgents.radionuclidesAgentsAndRegNum}}</td>
                </tr>
                <tr>
                    <td>Biological Agents with Human Pathogenic Potential</td>
                    <td class="text-center">
                        <label class="radio-inline radio-styled radio-primary">
                            <input type="radio"  name="bioAgents" value="true" ng-checked="details.hazardousAgents.bioAgents === true" ng-click="updateHazardousAgents('bioAgents',true)" ng-disabled="!isEditable"><span></span>
                        </label>
                    </td>
                    <td class="text-center">
                        <label class="radio-inline radio-styled radio-warning">
                            <input type="radio" name="bioAgents" value="false" ng-checked="!details.hazardousAgents.bioAgents || details.hazardousAgents.bioAgents === false" ng-click="updateHazardousAgents('bioAgents',false)" ng-disabled="!isEditable"><span></span>
                        </label>
                    </td>
                    <td e-style="width:200%"  editable-text="details.hazardousAgents.bioAgentsAgentsAndRegNum" onaftersave="updateHazardousAgents('bioAgentsAgentsAndRegNum',$data)" ng-show="isEditable">{{details.hazardousAgents.bioAgentsAgentsAndRegNum || 'Empty'}}</td>
                    <td ng-hide="isEditable">{{details.hazardousAgents.bioAgentsAgentsAndRegNum}}</td>
                </tr>
                <tr>
                    <td>Hazardous Chemicals or Drugs</td>
                    <td class="text-center">
                        <label class="radio-inline radio-styled radio-primary">
                            <input type="radio"  name="chemicalsAndDrugs" value="true" ng-checked="details.hazardousAgents.chemicalsAndDrugs === true" ng-click="updateHazardousAgents('chemicalsAndDrugs',true)" ng-disabled="!isEditable"><span></span>
                        </label>
                    </td>
                    <td class="text-center">
                        <label class="radio-inline radio-styled radio-warning">
                            <input type="radio" name="chemicalsAndDrugs" value="false" ng-checked="!details.hazardousAgents.chemicalsAndDrugs || details.hazardousAgents.chemicalsAndDrugs === false" ng-click="updateHazardousAgents('chemicalsAndDrugs',false)" ng-disabled="!isEditable"><span></span>
                        </label>
                    </td>
                    <td e-style="width:200%"  editable-text="details.hazardousAgents.chemicalsAndDrugsAgentsAndRegNum" onaftersave="updateHazardousAgents('chemicalsAndDrugsAgentsAndRegNum',$data)" ng-show="isEditable">{{details.hazardousAgents.chemicalsAndDrugsAgentsAndRegNum || 'Empty'}}</td>
                    <td ng-hide="isEditable">{{details.hazardousAgents.chemicalsAndDrugsAgentsAndRegNum}}</td>
                </tr>
                <tr>
                    <td>Recombinant DNA</td>
                    <td class="text-center">
                        <label class="radio-inline radio-styled radio-primary">
                            <input type="radio"  name="recombinantDNA" value="true" ng-checked="details.hazardousAgents.recombinantDNA === true" ng-click="updateHazardousAgents('recombinantDNA',true)" ng-disabled="!isEditable"><span></span>
                        </label>
                    </td>
                    <td class="text-center">
                        <label class="radio-inline radio-styled radio-warning">
                            <input type="radio" name="recombinantDNA" value="false" ng-checked="!details.hazardousAgents.recombinantDNA || details.hazardousAgents.recombinantDNA === false" ng-click="updateHazardousAgents('recombinantDNA', false)" ng-disabled="!isEditable"><span></span>
                        </label>
                    </td>
                    <td e-style="width:200%" editable-text="details.hazardousAgents.recombinantDNAAgentsAndRegNum" onaftersave="updateHazardousAgents('recombinantDNAAgentsAndRegNum',$data)" ng-show="isEditable">{{details.hazardousAgents.recombinantDNAAgentsAndRegNum || 'Empty'}}</td>
                    <td ng-hide="isEditable">{{details.hazardousAgents.recombinantDNAAgentsAndRegNum}}</td>
                </tr>
                <tr>
                    <td>Study conducted at Animal Biosafety Level (ABSL)</td>
                    <td e-style="width:200%" colspan="3" editable-text="hazardousagents.animalBiosafetyLevel.value" onaftersave="updateHazardousAgents('animalBiosafetyLevel',hazardousagents.animalBiosafetyLevel.value)" ng-show="isEditable">{{hazardousagents.animalBiosafetyLevel.value || 'Empty'}}</td>
                    <td ng-hide="isEditable" colspan="3" >{{hazardousagents.animalBiosafetyLevel.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <blockquote>
        <small>Describe the practices and procedures required for the safe handling and disposal of contaminated animals and material associated with this study. For studies involving the administration of radioisotopic materials to animals, provide the DRS number for the Authorized User. Also describe methods for removal of radioactive waste and, if applicable, the monitoring of radioactivity. Use of volatile anesthetics requires a description of scavenging methods used</small>
    </blockquote> 
    <div>Additional safety considerations</div>
    <a href="#" editable-textarea="hazardousagents.safetyConsiderations.value" e-rows="7" e-cols="100" onaftersave="updateHazardousAgents('safetyConsiderations',hazardousagents.safetyConsiderations.value)" ng-show="isEditable">
        <pre>{{hazardousagents.safetyConsiderations.value || 'Enter details' }}</pre>
    </a>
    <pre ng-hide="isEditable">{{hazardousagents.safetyConsiderations.value || 'Enter details' }}</pre>
    <div>Occupational Health and Safety considerations (vaccinations, precautions, etc)</div>
    <a href="#" editable-textarea="hazardousagents.occupationalHealth.value" e-rows="7" e-cols="100" onaftersave="updateHazardousAgents('occupationalHealth',hazardousagents.occupationalHealth.value)" ng-show="isEditable">
        <pre>{{hazardousagents.occupationalHealth.value || 'Enter details' }}</pre>
    </a>
    <pre ng-hide="isEditable">{{hazardousagents.occupationalHealth.value || 'Enter details' }}</pre>
</div>