<div class="row">
	<div class="col-xs-12">
		<ul class="list">
			<li class="tile"  ng-repeat="question in studyObjectsQuestions">
				<span class="tile-content ink-reaction no-padding">
					<div class="tile-text">
						{{$index+ 1}}.{{question.value}}
						<span ng-show="question.id == '3' " class="text-danger">*</span>
						<small>
							<a href="#" editable-textarea="question.text" e-rows="7" e-cols="100"  ng-show="isEditable" onaftersave="addOrUpdateQuestion(question,'studyObjective')">
								<pre style="white-space: pre-wrap;">{{ question.text || 'Enter your Answer.' }}</pre>
							</a>
							<pre ng-show="!isEditable">{{ question.text || 'Empty' }}</pre>
						</small>
					</div>
				</span>
			</li>
		</ul>
	</div>
</div>