<section ng-controller="ProtocoldetailsCtrl">
    <toaster-container toaster-options="{'body-output-type':'trustedHtml'}"></toaster-container>
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active">Protocol Details</li>
        </ol>
        <div class="row text-right">
            <!--<button type="button" class="btn btn-info" ng-click="exportPdf()" style="margin-top:-50px;margin-right:10px"><i class="fa fa-file-pdf-o"></i> Export to PDF</button>-->
            <div class="dropdown" style="margin-top:-30px;margin-right:30px">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuTop" data-toggle="dropdown" aria-expanded="true">Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right animation-dock text-left" role="menu" aria-labelledby="dropdownMenuTop">
                    <li>
                        <a ng-show="isChairman && details.status != 'APPROVED'" ng-click="updateProtocolDetails('status','APPROVED')"><i class="fa fa-check"></i> Approve</a>
                    </li>
                    <li>
                        <a ng-show="isEditable && details.status === 'PENDING'" ng-click="updateProtocolDetails('status','PRE_REVIEW')"><i class="fa fa-check"></i> Complete</a>
                    </li>
                    <li>
                        <a ng-show="isChairman && (details.status === 'PRE_REVIEW' || details.status === 'PENDING')" ng-click="updateProtocolDetails('status','REVIEW')"><i class="fa fa-check"></i> Review</a>
                    </li>
                    <li>
                        <a ng-click="exportPdf()"><i class="fa fa-file-pdf-o"></i> Export to PDF</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-body contain-lg">
        <div class="row" id="mainContent">
            <div class="col-md-12">
                <div class="panel-group" id="accordion1">
                    <div class="card">
                        <div class="card-head style-primary-light">
                        <div class="tools">
                            <a class="btn btn-flat hidden-xs" ui-sref="protocol-list"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Back to list</a>
                        </div>
                    </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-sm-4">P ID</div>
                                        <div class="col-sm-8">
                                            <b>{{details.id | zpad:5}}</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-sm-4">Status</div>
                                        <div class="col-sm-8">
                                            <b ng-class="{'text-info': details.status == 'REVIEW' || details.status == 'PRE_REVIEW' , 'text-success': details.status == 'APPROVED','text-warning': details.status == 'PENDING', 'text-danger': details.status == 'DISCARDED'}">
                                                <i class="md" ng-class="{'md-done': details.status == 'REVIEW' || details.status == 'PRE_REVIEW' , 'md-done-all': details.status == 'APPROVED','md-warning': details.status == 'PENDING', 'md-error': details.status == 'DISCARDED'}"></i>{{details.status}}</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-sm-4">Proposal #<span ng-show="isChairman" class="text-danger">*</span></div>
                                        <div class="col-sm-8">
                                            <b editable-text="details.proposalNumber" ng-show="isChairman && details.status === 'PRE_REVIEW'" onaftersave="updateProtocolDetails('proposalNumber',$data)">{{ details.proposalNumber || "Enter Proposal No." }}</b>
                                            <b ng-show="!isChairman || details.status !== 'PRE_REVIEW'">{{ details.proposalNumber || '________'}}</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-sm-4">Approval Date</div>
                                        <div class="col-sm-8">
<!--                                            <b editable-date="details.approvalDate" ng-show="isChairman" onaftersave="updateProtocolDetails('approvalDate',$data)">{{details.approvalDate|| "Enter Approval date" | date:'MM/dd/yyyy' }}</b>-->
                                            <b>{{details.approvalDate || '________' | date:'MM/dd/yyyy'}}</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-sm-4">Expiration Date</div>
                                        <div class="col-sm-8">
<!--                                            <b editable-date="details.expirationDate" ng-show="isChairman" onaftersave="updateProtocolDetails('expirationDate',$data)">{{details.expirationDate || "Enter Expiration date" | date:'MM/dd/yyyy'}}</b>-->
                                            <b>{{ details.expirationDate || '________' | date:'MM/dd/yyyy'}}</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <b>Annual Review Due</b>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-sm-4">1st Year</div>
                                        <div class="col-sm-8">
<!--                                            <b editable-date="details.annualReviewDueFirstYear" ng-show="isChairman" onaftersave="updateProtocolDetails('annualReviewDueFirstYear',$data)">{{ details.annualReviewDueFirstYear || "Enter Date" | date:'MM/dd/yyyy'}}</b>-->
                                            <b>{{ details.annualReviewDueFirstYear || '________' | date:'MM/dd/yyyy'}}</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-sm-4">2nd Year</div>
                                        <div class="col-sm-8">
<!--                                            <b editable-date="details.annualReviewDueSecondYear" ng-show="isChairman" onaftersave="updateProtocolDetails('annualReviewDueSecondYear',$data)">{{details.annualReviewDueSecondYear || "Enter date" | date:'MM/dd/yyyy'}}</b>-->
                                            <b>{{ details.annualReviewDueSecondYear || '________' | date:'MM/dd/yyyy'}}</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end .card-body -->
                    </div>
                    <div class="card panel style-primary-light">
                        <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionAdministration"
                        aria-expanded="false">
                            <header>Administrative Data</header>
                            <div class="tools">
                                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div id="accordionAdministration" class="collapse" aria-expanded="false">
                            <div class="card-body style-default-bright" ng-include="'protocol/partial/protocolDetails/templates/administration.html'"></div>
                        </div>
                    </div>
                    <!--end .panel -->
                    <div class="card panel style-primary-light">
                        <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionAnimals"
                        aria-expanded="false">
                            <header>Animal Requirements</header>
                            <div class="tools">
                                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div id="accordionAnimals" class="collapse" aria-expanded="false" style="height: 0px;">
                            <div class="section-floating-action-row" ng-show="!isChairman && !isCM" style="margin-top:18px;margin-right:30px">
                                <button class="btn ink-reaction btn-sm btn-floating-action btn-primary-dark" ng-click="AddAnimal()" data-toggle="tooltip"
                                data-placement="top" data-original-title="Add Animal">
                                    <i class="md md-add"></i>
                                </button>
                            </div>
                            <div class="card-body" ng-class="{'style-default-bright':$index%2 == 0,'style-default-light':$index%2 == 1}" ng-repeat="animal in details.animalRequirements">
                                <ul class="list divider-full-bleed">
                                    <li class="tile" ng-include="'protocol/partial/protocolDetails/templates/animalRequirements.html'"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end .panel -->
                    <div class="card panel style-primary-light">
                        <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordion1-4"
                        aria-expanded="false">
                            <header>Transportation</header>
                            <div class="tools">
                                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div id="accordion1-4" class="collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-body  style-default-bright">
                                <span class="text-danger">*</span>
                                <a href="#" editable-textarea="details.transportation.description" e-rows="7" e-cols="100" e-maxlength ="2000" onaftersave="updateTransportation('description',$data)" onbeforesave="checkForEmpty(true,$data)">
                                    <pre>{{ details.transportation.description || 'Enter transportaion details' }}</pre>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end .panel -->
                    <div class="card panel style-primary-light">
                        <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionStudy"
                        aria-expanded="false">
                            <header>Study Objectives</header>
                            <div class="tools">
                                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div id="accordionStudy" class="collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-body style-default-bright" ng-include="'protocol/partial/protocolDetails/templates/studyObjects.html'"></div>
                        </div>
                    </div>
                    <!--end .panel -->
                    <div class="card panel style-primary-light">
                        <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionRationale"
                        aria-expanded="false">
                            <header>Rationale For Use Of Animals</header>
                            <div class="tools">
                                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div id="accordionRationale" class="collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-body style-default-bright" ng-include="'protocol/partial/protocolDetails/templates/rationaleQuestions.html'"></div>
                        </div>
                    </div>
                    <!--end .panel -->
                    <div class="card panel style-primary-light">
                        <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionExperiment"
                        aria-expanded="false">
                            <header>Description Of Experimental Design And Animal Procedures</header>
                            <div class="tools">
                                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div id="accordionExperiment" class="collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-body style-default-bright" ng-include="'protocol/partial/protocolDetails/templates/experimentalDesign.html'"></div>
                        </div>
                    </div>
                    <!--end .panel -->
                    <div class="card panel style-primary-light">
                        <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionSurvivalSurgery"
                        aria-expanded="false">
                            <header>Major Survival Surgery</header>
                            <div class="tools">
                                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div id="accordionSurvivalSurgery" class="collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-body style-default-bright" ng-include="'protocol/partial/protocolDetails/templates/survivalSurgery.html'"></div>
                        </div>
                    </div>
                    <!--end .panel -->
                    <div class="card panel style-primary-light">
                        <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionPainOrDistress"
                        aria-expanded="false">
                            <header>Recording Pain Or Distress Category</header>
                            <div class="tools">
                                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div id="accordionPainOrDistress" class="collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-body style-default-bright" ng-include="'protocol/partial/protocolDetails/templates/painOrDistress.html'"></div>
                        </div>
                    </div>
                    <!--end .panel -->
                    <div class="card panel style-primary-light">
                        <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionAnesthesia"
                        aria-expanded="false">
                            <header>Anesthesia, Analgesia, Tranquilization</header>
                            <div class="tools">
                                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div id="accordionAnesthesia" class="collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-body style-default-bright">
                                <blockquote>
                                    <small>For animals indicated in Section H, Column D, and for animals anesthetized to prevent distress, specify the anesthetics,
                                        analgesics, sedatives or tranquilizers that are to be used. Include the name of the agent(s), the dosage, route, and frequency
                                        of administration.</small>
                                </blockquote>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="checkbox checkbox-styled">
                                            <b>None</b>
                                            <label>
                                                <input type="checkbox" value="" ng-model="details.anesthesiaMethod.none" ng-change="updateAnesthesiaMethod('none',details.anesthesiaMethod.none)" ng-disabled="!isEditable">
                                                <span>(check if none)</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" editable-textarea="details.anesthesiaMethod.anesthesiaMethodDesc.value" e-rows="7" e-cols="100" ng-show="!details.anesthesiaMethod.none && isEditable"
                                onaftersave="updateAnesthesiaMethodComments(details.anesthesiaMethod.anesthesiaMethodDesc.id,'anesthesiaMethodDesc',$data)">
                                    <pre>{{details.anesthesiaMethod.anesthesiaMethodDesc.value || 'Enter details' }}</pre>
                                </a>

                                <pre ng-hide="details.anesthesiaMethod.none || isEditable">{{details.anesthesiaMethod.anesthesiaMethodDesc.value || 'No details' }}</pre>
                            </div>
                        </div>
                    </div>
                    <!--end .panel -->
                    <div class="card panel style-primary-light">
                        <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionEuthenasia"
                        aria-expanded="false">
                            <header>Method Of Euthenasia And/Or Disposition Of Animals At End Of Study</header>
                            <div class="tools">
                                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div id="accordionEuthenasia" class="collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-body style-default-bright">
                                <blockquote>
                                    <small>Indicate the proposed method, and, if a chemical agent is used, specify the dosage and route of administration. If the method(s)
                                        of euthanasia include those not recommended by the AVMA Guideline on Euthanasia, provide scientific justification why such
                                        methods must be used, e.g., cervical dislocation of non-anesthetized mice. Indicate the method of carcass disposal if not
                                        as MPW.</small>
                                </blockquote>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="checkbox checkbox-styled">
                                            <b>None</b>
                                            <label>
                                                <input type="checkbox" value="" ng-model="details.euthanasiaMethod.none" ng-change="updateEuthanasiaMethod('none',details.euthanasiaMethod.none)" ng-disabled="!isEditable">
                                                <span>(check if none)</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" editable-textarea="details.euthanasiaMethod.euthanasiaMethodDesc.value" e-rows="7" e-cols="100" ng-show="!details.euthanasiaMethod.none && isEditable"
                                onaftersave="updateEuthanasiaMethodComments(details.euthanasiaMethod.euthanasiaMethodDesc.id,'euthanasiaMethodDesc',$data)">
                                    <pre>{{details.euthanasiaMethod.euthanasiaMethodDesc.value || 'Enter details' }}</pre>
                                </a>

                                <pre ng-hide="isEditable || details.euthanasiaMethod.none">{{details.euthanasiaMethod.euthanasiaMethodDesc.value || 'No Details'}}</pre>
                            </div>
                        </div>
                    </div>
                    <!--end .panel -->
                    <div class="card panel style-primary-light">
                        <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionHazardousAgents"
                        aria-expanded="false">
                            <header>Hazardous Agents</header>
                            <div class="tools">
                                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div id="accordionHazardousAgents" class="collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-body style-default-bright" ng-include="'protocol/partial/protocolDetails/templates/hazardousAgents.html'"></div>
                        </div>
                    </div>
                    <!--end .panel -->
                    <div class="card panel style-primary-light">
                        <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionBiologicalMaterial"
                        aria-expanded="false">
                            <header>Biological Material/Animal Products For Use In Animals</header>
                            <div class="tools">
                                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div id="accordionBiologicalMaterial" class="collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-body style-default-bright" ng-include="'protocol/partial/protocolDetails/templates/biologicalMaterial.html'"></div>
                        </div>
                    </div>
                    <!--end .panel -->
                    <div class="card panel style-primary-light">
                        <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionSpecialConcerns"
                        aria-expanded="false">
                            <header>Special Concerns Or Requirements Of the Study</header>
                            <div class="tools">
                                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div id="accordionSpecialConcerns" class="collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-body style-default-bright">
                                <blockquote>
                                    <small>List any special housing, equipment, animal care (i.e., special caging, water, feed, or waste disposal, etc.). Include justification
                                        for exemption from participation in the environmental enrichment plan for nonhuman primates or rodents..</small>
                                </blockquote>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="checkbox checkbox-styled">
                                            <b>None</b>
                                            <label>
                                                <input type="checkbox" value="" ng-model="details.specialRequirementOfStudy.none" ng-change="updateSpecialRequirementOfStudy('none',details.specialRequirementOfStudy.none)" ng-disabled="!isEditable">
                                                <span>(check if none)</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" editable-textarea="details.specialRequirementOfStudy.specialRequirements.value" e-rows="7" e-cols="100" ng-hide="details.specialRequirementOfStudy.none || !isEditable"
                                onaftersave="updateSpecialRequirementOfStudyComments(details.specialRequirementOfStudy.specialRequirements.id,'specialRequirements',$data)">
                                    <pre>{{details.specialRequirementOfStudy.specialRequirements.value || 'Enter details' }}</pre>
                                </a>
                                <pre ng-hide="details.specialRequirementOfStudy.none || isEditable">{{details.specialRequirementOfStudy.specialRequirements.value || 'No details' }}</pre>
                            </div>
                        </div>
                    </div>
                    <!--end .panel -->
                    <!-- <div class="card panel style-primary-light">
                            <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionPICertifications" aria-expanded="false">
                                <header>Principal Investigator Certifications</header>
                                <div class="tools">
                                    <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                            <div id="accordionPICertifications" class="collapse" aria-expanded="false" style="height: 0px;">
                                <div class="card-body style-default-bright">
                                    <blockquote><small>See instructions for further guidance.</small></blockquote>
                                    <ol>
                                        <li>I certify that the individuals working on this project have received the appropriate instructions and training in the biology,handling, and care of this species; aseptic surgical methods and techniques (if necessary); the concept, availability, and the use of research or testing methods that limit the use of animals or minimize distress; the proper use of anesthetics, analgesics, and tranquilizers (if necessary); and procedures for reporting animal welfare concerns, and that these individuals are qualified to perform the required experimental procedures.</li>
                                        <li>I certify that the room and/or equipment to house this study meets the standards to handle the biohazard level indicated.</li>
                                        <li>I will inform the IACUC of any proposed significant changes in this study.</li>
                                    </ol>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-2">Principal Investigator</div>
                                        <div class="col-md-3"><b editable-text="piCertifications.name">{{piCertifications.name || 'Enter Name'}}</b></div>
                                        <div class="col-md-1">Signature</div>
                                        <div class="col-md-3"><b editable-text="piCertifications.signature">{{piCertifications.signature || 'Enter Signature'}}</b></div>
                                        <div class="col-md-1">Date</div>
                                        <div class="col-md-2"><b editable-date="piCertifications.date">{{piCertifications.date || 'Enter Date'}}</b></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    -->
                    <!--end .panel -->
                    <div class="card no-padding style-primary-light">
                        <div class="card-head card-head-xs collapsed ink-reaction" data-toggle="collapse" data-parent="#accordion1" data-target="#accordionUserCommnets"
                        aria-expanded="false">
                            <header>User Comments</header>
                            <div class="tools">
                                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div id="accordionUserCommnets" class="collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-body style-default-light" ng-include="'protocol/partial/protocolDetails/templates/userComments.html'"></div>
                        </div>
                    </div>
                    <!--end .panel -->
                    <div class="card no-padding">
                        <div class="card-body style-default-bright" ng-include="'protocol/partial/protocolDetails/templates/committeeMembers.html'"></div>
                        <!--<form ng-submit="addCommitteeMember()" ng-if="isChairman && (details.status !== 'REVIEW' && details.status !== 'APPROVED')" ng-hide="details.isDesignatedMemberReview">
                            <div class="card-body style-primary-bright">
                                <div class="col-xs-5">
                                    <select ui-select2 ng-model="newCommitteeMember.username" data-placeholder="Select User" class="form-control">
                                        <option ng-repeat="person in committeeMembers">{{person.firstName}} {{person.lastName}}</option>
                                        <option>Others</option>
                                    </select>
                                </div>
                                <div class="col-xs-5">
                                    <input type="text" name="name" ng-show="newCommitteeMember.username == 'Others'" class="form-control" ng-model="newCommitteeMember.otherUsername"
                                    placeholder="Enter name of the user" />
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary">Add Member</button>
                                </div>
                            </div>
                        </form>-->
                    </div>
                </div>
                <!--end .col -->
            </div>
        </div>
        <!--end .section-body -->
    </div>
    <div class="section-footer">
        <div class="row text-right">
            <div class="btn-group dropup"  style="margin-top:-30px;margin-right:40px">
                <button type="button" class="btn ink-reaction btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Actions
                    <i class="fa fa-caret-up"></i>
                </button>
                <ul class="dropdown-menu animation-expand text-left" role="menu">
                   <li>
                        <a ng-show="isChairman && details.status === 'REVIEW'" ng-click="updateProtocolDetails('status','APPROVED')"><i class="fa fa-check"></i> Approve</a>
                    </li>
                    <li>
                        <a ng-show="isEditable && details.status === 'PENDING'" ng-click="updateProtocolDetails('status','PRE_REVIEW')"><i class="fa fa-check"></i> Complete</a>
                    </li>
                    <li>
                        <a ng-show="isChairman && (details.status === 'PRE_REVIEW' || details.status === 'PENDING')" ng-click="updateProtocolDetails('status','REVIEW')"><i class="fa fa-check"></i> Review</a>
                    </li>
                    <li>
                        <a ng-click="exportPdf()"><i class="fa fa-file-pdf-o"></i> Export to PDF</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
