<section ng-controller="ClientProfileCtrl">
    <toaster-container toaster-options="{'body-output-type':'trustedHtml'}"></toaster-container>
    <div class="section-header">
        <ol class="breadcrumb">
            <li><a ui-sref="clients-list">Clients</a></li>
            <li class="active">{{clientId === 0? 'Add Client': 'Modify Client'}}</li>
        </ol>

    </div>
    <div class="section-body contain-lg">
        <div class="row">

            <!-- BEGIN ADD CONTACTS FORM -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-head style-primary">
                        <header></header>
                        <div class="tools">
                            <a class="btn btn-flat hidden-xs" ui-sref="clients-list"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Back to list</a>
                        </div>
                    </div>
                    <div ng-hide="detailsEditable" class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                							<label class="col-sm-4 control-label">Name</label>
                							<div class="col-sm-8">
                								<p class="form-control-static">{{client.name}}</p>
                							</div>
                						</div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                							<label class="col-sm-4 control-label">Charge Code</label>
                							<div class="col-sm-8">
                								<p class="form-control-static">{{client.chargeCode}}</p>
                							</div>
                						</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                							<label class="col-sm-4 control-label">Email</label>
                							<div class="col-sm-8">
                								<p class="form-control-static">{{client.email}}</p>
                							</div>
                						</div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                							<label class="col-sm-4 control-label">Phone Number</label>
                							<div class="col-sm-8">
                								<p class="form-control-static" mask="999-999-9999" ng-model="client.phoneNumber">{{client.phoneNumber}}</p>
                							</div>
                						</div>
                                    </div>
                                </div>
                                <div class="row">
                                	<div class="col-md-8">
                                		<div class="form-group">
                							<label class="col-sm-4 control-label">Business Address</label>
                							<div class="col-sm-8">
                								<p class="form-control-static">{{client.businessAddress}}</p>
                							</div>
                						</div>
                                	</div>
                                </div>
                                
                                <div class="card-actionbar">
                                    <div class="card-actionbar-row">
                                        <button type="submit" class="btn btn-primary" ng-click="detailsEditable = true;">Edit</button>
                                    </div>
                                    <!--end .card-actionbar-row -->
                                </div>
                            </div>
                    <form class="form" ng-submit="saveProfile(clientForm.$valid)" name="clientForm" novalidate ng-show="detailsEditable">
                        <!-- BEGIN DEFAULT FORM ITEMS -->
                        <div class="card-body style-default-bright">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group floating-label" ng-class="{'has-error':clientForm.name.$error.required && (clientForm.name.$dirty || isFormSubmitted)}">
                                                <input type="text" class="form-control" id="name" name="name" floating-input="" required ng-model="client.name">
                                                <label for="name">Name <span class="text-danger">*</span></label>
                                                <span id="name-error" class="help-block" ng-show="clientForm.name.$error.required && (clientForm.name.$dirty || isFormSubmitted)">This field is required</span>
                                            </div>
                                        </div><!--end .col -->
                                        
                                        <div class="col-md-6">
                                            <div class="form-group floating-label" ng-class="{'has-error':clientForm.chargeCode.$error.required && (clientForm.chargeCode.$dirty || isFormSubmitted)}">
                                                <input type="text" class="form-control" id="chargeCode" name="chargeCode" floating-input="" required ng-model="client.chargeCode" >
                                                <label for="chargeCode">Charge Code<span class="text-danger">*</span></label>
                                                <span id="chargeCode-error" class="help-block" ng-show="clientForm.chargeCode.$error.required && (clientForm.chargeCode.$dirty || isFormSubmitted)">This field is required</span>
                                            </div>
                                        </div><!--end .col -->
                                    </div><!--end .row -->
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group floating-label" ng-class="{'has-error':!clientForm.email.$valid && (clientForm.email.$dirty || isFormSubmitted)}">
                                                <input type="email" class="form-control" id="email" name="email" floating-input="" required ng-model="client.email" >
                                                <label for="functiontitle">Email <span class="text-danger">*</span></label>
                                                <p class="help-block">example: client@example.com</p>
                                                <span id="email-error" class="help-block" ng-show="clientForm.email.$error.required && (clientForm.email.$dirty || isFormSubmitted)">This field is required</span>
                                                <span class="help-block" ng-show="clientForm.email.$error.email && (clientForm.email.$dirty || isFormSubmitted)">Invalid format</span>
                                            </div>
                                        </div><!--end .col -->
                                         <div class="col-md-4" ng-class="{'has-error':!clientForm.phoneNumber.$valid && (clientForm.phoneNumber.$dirty || isFormSubmitted)}">
                                            <div class="form-group floating-label">
                                                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" floating-input="" ng-model="client.phoneNumber" mask="999-999-9999" clean="true">
                                                <label for="phoneNumber">Phone Number</label>
                                                <span class="help-block" ng-show="!clientForm.phoneNumber.$valid && (clientForm.phoneNumber.$dirty || isFormSubmitted)">Invalid format</span>
                                            </div>
                                        </div><!--end .col -->
                                    </div><!--end .row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group floating-label" ng-class="{'has-error':!clientForm.businessAddress.$valid && (clientForm.businessAddress.$dirty || isFormSubmitted)}">
                                                <input type="text" class="form-control" id="businessAddress" name="businessAddress" floating-input="" required ng-model="client.businessAddress" >
                                                <label for="functiontitle">Business Address<span class="text-danger">*</span></label>
                                                <span id="email-error" class="help-block" ng-show="clientForm.businessAddress.$error.required && (clientForm.businessAddress.$dirty || isFormSubmitted)">This field is required</span>
                                            </div>
                                        </div><!--end .col -->
                                    </div><!--end .row -->
                                    
                                </div><!--end .col -->
                            </div><!--end .row -->
                        </div><!--end .card-body -->
                        <!-- END DEFAULT FORM ITEMS -->
                        <!-- BEGIN FORM FOOTER -->
                        <div class="card-actionbar">
                            <div class="card-actionbar-row">
                                <a class="btn btn-warning" ng-show="clientId && clientId !== '0'" ng-click="detailsEditable = false;">CANCEL</a>
                                <a class="btn btn-warning" ng-show="clientId == '0'" ui-sref="clients-list">CANCEL</a>
                                <button type="submit" class="btn btn-primary" ng-disabled="isSave">Save</button>
                            </div><!--end .card-actionbar-row -->
                        </div><!--end .card-actionbar -->
                        <!-- END FORM FOOTER -->

                    </form>
                </div><!--end .card -->
            </div><!--end .col -->
            <!-- END ADD CONTACTS FORM -->

        </div><!--end .row -->
    </div><!--end .section-body -->
</section>
