<div class="col-md-12" ng-controller="AnimaldetailsCtrl">
    <toaster-container toaster-options="{'body-output-type':'trustedHtml'}"></toaster-container>
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active">Animal Details</li>
        </ol>
    </div>
    <div class="section-body contain-lg">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-head style-primary-light">
                        <div class="tools">
                            <a class="btn btn-flat hidden-xs" ui-sref="animal-list"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Back to list</a>
                        </div>
                        <ul class="nav nav-tabs tabs-text-contrast tabs-info" data-toggle="tabs" ui-tabs>
                            <li class="active">
                                <a href="#animal" ng-click="selectedTab = 'animals'">Animal Details</a>
                            </li>
                            <!-- <li ng-show="animal.id && animal.id !==0 ">
                                <a href="#testResults" ng-click="selectedTab = 'testResults';getTestResults();">Test Results</a>
                            </li>-->
                            <li>
                                <a href="#elisa" ng-click="selectedTab = 'ELISA';getElisaList();">ELISA</a>
                            </li>
                            <li>
                                <a href="#mamu" ng-click="selectedTab = 'MAMU';getMamuList();">MAMU</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body tab-content">
                        <div id="animal" class="tab-pane active">
                            <div ng-hide="detailsEditable" class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Animal Id</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{animal.animalId}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Old Id</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{animal.oldId}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Species</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{animal.species}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Sex</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{animal.sex}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Client</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{animal.client}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Source</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{animal.source}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Date Of Birth</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{animal.dateOfBirth | date:'MM/dd/yyyy'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Recieved Date</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{animal.recievedDate | date:'MM/dd/yyyy'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Departed Date</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{animal.departedDate | date:'MM/dd/yyyy'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Building</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{animal.building}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Room Number</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{animal.roomNum}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Origin</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{animal.origin}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Temperature</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{animal.temperature}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Pulse</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{animal.pulse}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Respiration</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{animal.respiration}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Weight</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{animal.weight}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Strain</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{animal.strain}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Status</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{animal.status}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Vet Technician</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{animal.vetTech.firstName}} {{animal.vetTech.lastName}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">Comments</label>
                                            <div class="col-sm-12">
                                                <p class="form-control-static">{{animal.comments}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-actionbar">
                                    <div class="card-actionbar-row">
                                        <button type="submit" class="btn btn-primary" ng-click="detailsEditable = true;">Edit</button>
                                    </div>
                                    <!--end .card-actionbar-row -->
                                </div>
                            </div>
                            <form class="form" ng-submit="saveAnimalDetails()" name="animalForm" novalidate ng-show="detailsEditable">
                                <div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group floating-label" ng-class="{'has-error':animalForm.oldId.$error.required && (animalForm.oldId.$dirty || isFormSubmitted)}">
                                                <input type="text" class="form-control" id="oldId" floating-input="" name="oldId" ng-model="animal.oldId">
                                                <label for="oldId">Old Id</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group floating-label" ng-class="{'has-error':animalForm.species.$error.required && (animalForm.species.$dirty || isFormSubmitted)}">
                                                <select class="form-control" id="species" floating-input="" name="species" ng-model="animal.species" required>
                                                    <option></option>
                                                    <option ng-repeat="item in allSpecies">{{item}}</option>
                                                </select>
                                                <label for="species">
                                                    Species
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <span id="species-error" class="help-block" ng-show="animalForm.species.$error.required && (animalForm.species.$dirty || isFormSubmitted)">This field is required.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group floating-label">
                                                <input type="text" class="form-control" id="otherSpecies" floating-input="" name="otherSpecies" ng-model="animal.otherSpecies" ng-disabled="animal.species !== 'OTHER'">
                                                <label for="oldId">Other Species</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group floating-label" ng-class="{'has-error':animalForm.sex.$error.required && (animalForm.sex.$dirty || isFormSubmitted)}">
                                                <select class="form-control" id="sex" floating-input="" name="sex" ng-model="animal.sex" required>
                                                    <option></option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                </select>
                                                <label for="sex">
                                                    Sex
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <span id="sex-error" class="help-block" ng-show="animalForm.sex.$error.required && (animalForm.sex.$dirty || isFormSubmitted)">This field is required.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group floating-label">
                                                <input type="text" class="form-control" id="client" floating-input="" name="client" ng-model="animal.client">
                                                <label for="client">Client</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group floating-label">
                                                <input type="text" class="form-control" id="source" floating-input="" name="source" ng-model="animal.source">
                                                <label for="source">Source</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group floating-label">
                                                <input type="text" class="form-control" id="dateOfBirth" floating-input="" name="dateOfBirth" ng-model="animal.dateOfBirth"
                                                       date-time min-view="date" view="date" format="MM/dd/yyyy" auto-close="true">
                                                <label for="dateOfBirth">Date Of Birth</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group floating-label">
                                                <input type="text" class="form-control" id="recievedDate" floating-input="" name="recievedDate" ng-model="animal.recievedDate"
                                                       date-time min-view="date" view="date" format="MM/dd/yyyy" auto-close="true">
                                                <label for="recievedDate">Recieved Date</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group floating-label">
                                                <input type="text" class="form-control" id="departedDate" floating-input="" name="departedDate" ng-model="animal.departedDate"
                                                       date-time min-view="date" view="date" format="MM/dd/yyyy" auto-close="true">
                                                <label for="departedDate">Departed Date</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group floating-label">
                                                <input type="text" class="form-control" id="building" floating-input="" name="building" ng-model="animal.building">
                                                <label for="building">Building</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group floating-label">
                                                <input type="text" class="form-control" id="roomNum" floating-input="" name="roomNum" ng-model="animal.roomNum">
                                                <label for="roomNum">Room Number</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group floating-label">
                                                <!--<input type="text" class="form-control" id="origin" floating-input="" name="souoriginrce" ng-model="animal.origin">-->
                                                <select ui-select2="{ allowClear: true}" class="form-control" id="origin" floating-input="" name="souoriginrce" ng-model="animal.origin">
                                                    <option ng-repeat="country in countries  | orderBy">{{country}}</option>
                                                </select>
                                                <label for="origin">Origin</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group floating-label">
                                                <input type="text" class="form-control" id="temperature" floating-input="" name="temperature" ng-model="animal.temperature">
                                                <label for="temperature">Temperature</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group floating-label">
                                                <input type="text" class="form-control" id="pulse" floating-input="" name="pulse" ng-model="animal.pulse">
                                                <label for="pulse">Pulse</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group floating-label">
                                                <input type="text" class="form-control" id="respiration" floating-input="" name="respiration" ng-model="animal.respiration">
                                                <label for="respiration">Respiration</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group floating-label">
                                                <input type="text" class="form-control" id="weight" floating-input="" name="weight" ng-model="animal.weight">
                                                <label for="weight">Weight</label>
                                                <p class="help-block popovercontrol" data-animation="am-flip-x" data-placement="left" data-content="Weight History" data-template-url="weightHistory.tpl.html" data-auto-close="1" bs-popover>History</p>
                                            </div>
                                            <script type="text/ng-template" id="weightHistory.tpl.html">
                                                <div class="popover" tabindex="-1" ng-show="content">
                                                    <div class="arrow"></div>
                                                    <h3 class="popover-title" ng-bind-html="title" ng-show="title"></h3>
                                                    <div class="popover-content">
                                                        Weight history
                                                    </div>
                                                </div>
                                            </script>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group floating-label">
                                                <select id="animalStatus" name="animalStatus" floating-input="" class="form-control" ng-model="animal.status" ng-disabled="!animal.id || animal.id === 0">
                                                    <option></option>
                                                    <option value="ACTIVE">ACTIVE</option>
                                                    <option value="HOLDING">HOLDING</option>
                                                    <option value="EUTHANIZED">EUTHANIZED</option>
                                                    <option value="EXITED">EXITED</option>
                                                </select>
                                                <label for="animalStatus">Select Status</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group floating-label">
                                                <select class="form-control" id="vetTecUsers" floating-input="" name="vetTecUsers" ng-model="vetTechnician">
                                                    <option value=""></option>
                                                    <option ng-repeat="user in vetUsers" value="{{user.id}}">{{user.firstName}} {{user.lastName}}</option>
                                                </select>
                                                <label for="vetTecUsers">Vet Technician</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group floating-label">
                                                <select id="animalStrain" name="animalStrain" floating-input="" class="form-control" ng-model="animal.strain">
                                                    <option></option>
                                                    <option value="Strain1">Strain1</option>
                                                    <option value="Strain2">Strain2</option>
                                                    <option value="Others">Others</option>
                                                </select>
                                                <label for="animalStrain">Select Strain</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group floating-label">
                                                <input type="text" class="form-control" id="strain" floating-input="" name="strain" ng-model="animal.otherStrain" ng-disabled="animal.strain !== 'Others'">
                                                <label for="strain">Other Strain</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group floating-label">
                                                <input type="text" class="form-control" id="comments" floating-input="" name="comments" ng-model="animal.comments">
                                                <label for="strain">Comments</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-actionbar">
                                    <div class="card-actionbar-row">
                                        <button type="button" class="btn btn-flat" ng-show="animal.id && animal.id !== 0" ng-click="detailsEditable = false;">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                    <!--end .card-actionbar-row -->
                                </div>
                            </form>
                        </div>
                        <!-- <div id="testResults" class="tab-pane">
                            <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTable no-footer">
                                <thead>
                                    <tr>
                                        <th>Collection Date</th>
                                        <th>Accession Number</th>
                                        <th>Species</th>
                                        <th>Animal Id</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="test in allTestResults">
                                        <td>{{test.collectedDate | date:'MM/dd/yyyy'}}</td>
                                        <td>{{test.accessionNumber}}</td>
                                        <td>{{test.species}}</td>
                                        <td>{{test.animalId.animalId}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>-->
                        <div class="tab-pane" id="elisa">
                            <div class="row">
                                <table class="table table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <td>Collected Date</td>
                                            <td>Virus</td>
                                            <td>Value</td>
                                            <td>Result</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="result in elisaList">
                                            <td>{{result.collectedDate | date:'MM/dd/yyyy'}}</td>
                                            <td>{{result.virus.virusName}}</td>
                                            <td>{{result.value}}</td>
                                            <td>{{result.result}}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="elisaDetailsCollectionDate" name="elisaDetailsCollectionDate" ng-model="elisaDetails.collectedDate"
                                                           date-time min-view="date" view="date" format="MM/dd/yyyy" auto-close="true">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group ">
                                                    <select id="elisaDetailsVirus" name="elisaDetailsVirus" ui-select2 data-placeholder="Selelct Virus" ng-model="elisaDetails.virus"
                                                            class="form-control">
                                                        <option value="0" selected>Select Virus</option>
                                                        <option value="{{virus.id}}" ng-repeat="virus in virusList">{{virus.virusName}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="elisaDetailsCollectionDate" name="elisaDetailsCollectionDate" ng-model="elisaDetails.value">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group ">
                                                    <select id="elisaDetailsResult" name="elisaDetailsResult" ng-model="elisaDetails.result" class="form-control">
                                                        <option value="" selected>Select Result</option>
                                                        <option value="Positive">Positive</option>
                                                        <option value="Negative">Negative</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <button class="btn btn-primary" ng-click="addElisaDetails()">
                                                    <i class="fa fa-plus"></i>Add
                                                </button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="mamu">
                            <div class="row">
                                <table class="table table-bordered table-condensed">
                                    <thead>
                                    <td>Collected Date</td>
                                    <td>MAMU Name</td>
                                    <td>Result</td>
                                    <td></td>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="result in mamuList">
                                            <td>{{result.collectedDate | date:'MM/dd/yyyy'}}</td>
                                            <td>{{result.mamu.mamuName}}</td>
                                            <td>{{result.result}}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="mamuDetailsCollectionDate" name="mamuDetailsCollectionDate" ng-model="mamuDetails.collectedDate"
                                                   date-time min-view="date" view="date" format="MM/dd/yyyy" auto-close="true">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group ">
                                            <select id="mamuDetailsVirus" ui-select2 data-placeholder="Selelct MAMU" name="mamuDetailsVirus" ng-model="mamuDetails.mamu"
                                                    class="form-control">
                                                <option value="0" selected>Select MAMU</option>
                                                <option value="{{mamuType.id}}" ng-repeat="mamuType in mamuTypes">{{mamuType.mamuName}}</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group ">
                                            <select id="mamuDetailsResult" name="mamuDetailsResult" ng-model="mamuDetails.result" class="form-control">
                                                <option value="" selected>Select Result</option>
                                                <option value="Positive">Positive</option>
                                                <option value="Negative">Negative</option>
                                            </select>
                                        </div>
                                    </td>
                                    <!--<td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="mamuDetailsCollectionDate" name="mamuDetailsCollectionDate" ng-model="mamuDetails.value">
                                        </div>
                                    </td>-->
                                    <td class="text-center">
                                        <button class="btn btn-primary" ng-click="addMamuDetails()">
                                            <i class="fa fa-plus"></i>Add
                                        </button>
                                    </td>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--end .card-actionbar -->
                </div>
            </div>
        </div>
    </div>
</div>
