<section ng-controller="ProceduresListCtrl">
    <toaster-container toaster-options="{'body-output-type':'trustedHtml'}"></toaster-container>
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active">Procedure Details</li>
        </ol>
    </div>
    <div class="section-body contain-lg">
        <div class="row">
            <div class="col-md-12">
                <div class="card style-primary-light">
                    <div class="card-head">

                    </div>
                    <div class="card-body style-default-bright">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Schedule Date/Time</th>
                                        <th>Procedure</th>
                                        <th>Study</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="schedule in procedures">
                                        <td><a class="btn ink-reaction btn-flat btn-xs btn-primary" ui-sref="procedureDetails({ id: schedule.id })">{{schedule.start | date:'MM/dd/yyyy HH:mm'}}</a></td>
                                        <td>{{schedule.procedure}}</td>
                                        <td>{{schedule.study}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
