<section ng-controller="Error404Ctrl">
	<div class="section-header">
		
	</div>
	<div class="section-body contain-lg">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1>
					<span class="text-xxxl text-light">404
						<i class="fa fa-search-minus text-primary"></i>
					</span>
				</h1>
				<h2 class="text-light">This page does not exist</h2>
			</div>
			<!--end .col -->
		</div>
		<!--end .row -->
	</div>
	<!--end .section-body -->
</section>