<section ng-controller="ProceduredetailsCtrl">
    <toaster-container toaster-options="{'body-output-type':'trustedHtml'}"></toaster-container>
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active">Schedule Details <span class="visible-print visible-print-inline">- {{scheduleTime | date:'MM/dd/yyyy HH:mm'}}</i></li>
        </ol>
    </div>

    <div class="section-body contain-lg">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-printable style-primary-light">
                    <div class="card-head style-primary hidden-print">
                        <header><i class="fa fa-calendar-o"></i> {{scheduleTime | date:'MM/dd/yyyy'}} <i class="fa fa-clock-o" style="margin-left:20px"></i> {{scheduleTime | date:'HH:mm'}}</header>
                        <div class="tools">
                            <a class="btn btn-flat hidden-xs" ui-sref="dashboard"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Back to list</a>
                            <a class="btn btn-floating-action btn-info" href="javascript:void(0);" onclick="javascript:window.print();"><i class="md md-print"></i></a>
                        </div>
                    </div>
                    <div class="card-body style-default-bright">
                        <div ng-hide="isStorageDetails">
                            <section class="style-default-bright " ng-hide="studyProcedure.id && studyProcedure.id !== 0 && currentSchedule.status === 'COMPLETE'">
                                <div class="section-head">
                                    <div class="tools">
                                        <!--<a class="btn btn-primary hidden-xs pull-right" ng-click="changeProcedureView();"><span class="glyphicon glyphicon-arrow-left"></span> Back to List</a>-->
                                        <div class="btn-group pull-right">
                                            <button type="button" class="btn btn-primary hidden-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu text-left">
                                                <li ng-show="studyProcedure.id && studyProcedure.id !== 0 && currentSchedule.status === 'ACTIVE'"><a ng-click="changeScheduleStatus('IN PROGRESS')">In Progress</a></li>
                                                <li ng-show="studyProcedure.id && studyProcedure.id !== 0 && currentSchedule.status === 'IN PROGRESS'"><a ng-click="changeScheduleStatus('COMPLETE')">Complete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-body"></div>
                            </section>
                            <div class="visible-print">
                                <table class="table" border="0">
                                    <tbody class="form-group">
                                        <tr>
                                            <td class="control-label">Procedure Type</td>
                                            <td>{{studyProcedure.procedureType}}</td>
                                            <td class="control-label">Lab Technician</td>
                                            <td>{{studyProcedure.labTechnician.firstName}} {{studyProcedure.labTechnician.lastName}}</td>
                                            <td class="control-label">Vet Technician</td>
                                            <td>{{studyProcedure.vetTechnician.firstName}} {{studyProcedure.vetTechnician.lastName}}</td>
                                        </tr>
                                        <tr>
                                            <td class="control-label">Tube Type</td>
                                            <td>{{studyProcedure.bloodSample.tubeType}}</td>
                                            <td class="control-label">Quantity</td>
                                            <td>{{studyProcedure.bloodSample.quantity}} {{studyProcedure.bloodSample.unit}}</td>
                                            <td class="control-label">Multiple Tubes</td>
                                            <td>{{studyProcedure.bloodSample.multipleTubes}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-horizontal hidden-print">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Procedure Type</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{studyProcedure.procedureType}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Lab Technician</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{studyProcedure.labTechnician.firstName}} {{studyProcedure.labTechnician.lastName}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Vet Technician</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{studyProcedure.vetTechnician.firstName}} {{studyProcedure.vetTechnician.lastName}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="studyProcedure.procedureType === 'BLOOD SAMPLE'">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Tube Type</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{studyProcedure.bloodSample.tubeType}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Quantity</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{studyProcedure.bloodSample.quantity}} {{studyProcedure.bloodSample.unit}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Multiple Tubes</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{studyProcedure.bloodSample.multipleTubes}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 ng-show="studyProcedure.animals && studyProcedure.animals.length > 0">Animals</h3>
                            <section class="style-default-bright ">
                                <div class="section-head">
                                    <div class="tools">
                                        <!--<a class="btn btn-primary hidden-xs pull-right" ng-click="changeProcedureView();"><span class="glyphicon glyphicon-arrow-left"></span> Back to List</a>-->
                                        <div class="pull-right">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <select class="form-control hidden-print" id="substanceDrug" name="substanceDrug" ng-model="sedationDetails.substance" required ng-change="changeSelectedDrug()">
                                                        <option value="">Select Sedation Drug</option>
                                                        <option ng-repeat="sed in sedationDrugs" value="{{sed}}">{{sed}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <button type="button" class="btn btn-primary hidden-xs" ng-click="updateSeataionDetaials()">Update Sedation</button>
                                            </div>
                                            <div class="col-md-3 text-right">
                                                <button type="button" class="btn btn-primary hidden-xs" ng-click="tprwEdit = true" ng-show="!tprwEdit">Edit</button>
                                                <button type="button" class="btn btn-primary hidden-xs" ng-click="savetprwValues()" ng-show="tprwEdit">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-body"></div>
                            </section>
                            <div class="table-responsive">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Animal Id</th>
                                            <th>Species</th>
                                            <th>Drug</th>
                                            <th>Dosage</th>
                                            <th>Volume</th>
                                            <th>Temperature</th>
                                            <th>Pulse</th>
                                            <th>Respiration</th>
                                            <th>Weight</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="animal in scheduleAnimals">
                                            <td><a class="btn ink-reaction btn-flat btn-xs btn-primary" href="">{{animal.animalId}}</a></td>
                                            <td>{{animal.species}}</td>
                                            <td>{{animal.substance}}</td>
                                            <td>{{animal.dosage}}</td>
                                            <td><span ng-show="!tprwEdit">{{animal.volume}}</span> <input ng-model="animal.volume" ng-show="tprwEdit" class="form-control" placeholder="Volume" /></td>
                                            <td>
                                                <span ng-show="!tprwEdit">{{animal.temperature}}</span>
                                                <div ng-show="tprwEdit">
                                                    <input ng-model="animal.temperature" class="form-control" placeholder="" />
                                                </div>
                                            </td>
                                            <td>
                                                <span ng-show="!tprwEdit">{{animal.pulse}}</span>
                                                <div ng-show="tprwEdit">
                                                    <input ng-model="animal.pulse" class="form-control" placeholder="" />
                                                </div>
                                            </td>
                                            <td>
                                                <span ng-show="!tprwEdit">{{animal.respiration}}</span>
                                                <div ng-show="tprwEdit">
                                                    <input ng-model="animal.respiration" class="form-control" placeholder="" />
                                                </div>
                                            </td>
                                            <td>
                                                <span ng-show="!tprwEdit">{{animal.weight}}</span>
                                                <div ng-show="tprwEdit">
                                                    <input ng-model="animal.weight" class="form-control" placeholder="" />
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" ng-show="studyProcedure.id">
                                <!--<div class="form-horizontal" ng-show="studyProcedure.bloodSample.test && procedureTestsCreationStatus === 'view'">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Quantity Per Tube</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{studyProcedure.bloodSample.test}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <h3 ng-show="studyProcedure.bloodSample.procedureTests">Procedure Tests</h3>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Test</th>
                                                <th>Destination</th>
                                                <th>Storage Requirements</th>
                                                <th>Package Requirements</th>
                                                <th class="hidden-print">Time Shipped By</th>
                                                <th class="hidden-print">Shipped To</th>
                                                <th class="hidden-print" ng-show="isLab"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="test in studyProcedure.bloodSample.procedureTests">
                                                <td>{{test.test}}</td>
                                                <td>{{test.destination}}</td>
                                                <td>{{test.storageRequirements}}</td>
                                                <td>{{test.packagingRequirements}}</td>
                                                <td class="hidden-print">{{test.timeShipppedBy | date:'MM/dd/yyyy hh:mm'}}</td>
                                                <td class="hidden-print">{{test.shippedTo}}</td>
                                                <td class="text-right hidden-print"  ng-show="isLab">
                                                    <button type="button"  ng-hide="test.destination !== 'STORAGE'" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Edit row" ng-click="showStorageDetails(test.id)"><i class="fa fa-pencil"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div ng-show="isStorageDetails">
                            <form class="form" name="procedureForm" novalidate ng-submit="saveProcedureDetails()" ng-show="studyProcedure.id && studyProcedure.id !== 0 && currentSchedule.status === 'IN PROGRESS'">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group floating-label">
                                            <input type="text" class="form-control" id="building" floating-input="" ng-model="storageDetails.building">
                                            <label for="building">Building</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group floating-label">
                                            <input type="text" class="form-control" id="freezer" floating-input="" ng-model="storageDetails.freezer">
                                            <label for="freezer">Freezer</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group floating-label">
                                            <input type="text" class="form-control" id="shelf" floating-input="" ng-model="storageDetails.shelf">
                                            <label for="shelf">Shelf</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group floating-label">
                                            <input type="text" class="form-control" id="building" floating-input="" ng-model="storageDetails.rack">
                                            <label for="rack">Rack</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group floating-label">
                                            <input type="text" class="form-control" id="freezer" floating-input="" ng-model="storageDetails.position">
                                            <label for="position">Position</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-actionbar" ng-show="studyProcedure.id && studyProcedure.id !== 0 && currentSchedule.status === 'IN PROGRESS'">
                                    <div class="card-actionbar-row">
                                        <a class="btn btn-default" ng-click="hideStorageDetails()">CANCEL</a>
                                        <button type="submit" class="btn btn-primary" ng-disabled="isSave">Save</button>
                                    </div><!--end .card-actionbar-row -->
                                </div><!--end .card-actionbar -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sedationModalDetails">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Sedation Details</h4>
                </div>
                <div class="modal-body">
                    <form class="form" name="sedationForm" novalidate ng-submit="saveSedationDetails()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group floating-label" ng-class="{'has-error':sedationForm.drug.$error.required && (sedationForm.drug.$dirty || isFormSubmitted)}">
                                    <select class="form-control" id="drug" floating-input="" name="drug" ng-model="sedationDetails.substance" required ng-change="changeSelectedDrug()">
                                        <option value=""></option>
                                        <option ng-repeat="sed in sedationDrugs" value="{{sed.drug}}" ng-selected="sedationDetails.drug === sed.drug">{{sed.drug}}</option>
                                    </select>
                                    <label for="drug">
                                        Drug
                                        <span class="text-danger">*</span>
                                    </label>
                                    <span id="protocol-error" class="help-block" ng-show="sedationForm.drug.$error.required && (sedationForm.drug.$dirty || isFormSubmitted)">This field is required</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group floating-label">
                                    <input type="text" class="form-control" id="dosage" value="" floating-input="" ng-model="sedationDetails.dosage" ng-change="calculateVolume()">
                                    <label for="dosage">Dosage</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="selectedDrug.concentration">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Concentration</label>
                                    <div class="col-sm-7">
                                        <p class="form-control-static">{{selectedDrug.concentration}} {{selectedDrug.unit}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Volume</label>
                                    <div class="col-sm-7">
                                        <p class="form-control-static">{{sedationDetails.volume}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group floating-label">
                                    <input type="text" class="form-control" id="notes" value="" floating-input="" ng-model="sedationDetails.notes" rows="3">
                                    <label for="notes">Notes</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveSedationDetails()">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="tprwModalDetails">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">TPRW Details</h4>
                </div>
                <div class="modal-body">
                    <form class="form" name="tprwForm" novalidate ng-submit="saveTPRWInformation()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group floating-label">
                                    <input type="text" class="form-control" id="temperature" value="" floating-input="" ng-model="sedationDetails.temperature">
                                    <label for="temperature">Temperature</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group floating-label">
                                    <input type="text" class="form-control" id="pulse" value="" floating-input="" ng-model="sedationDetails.pulse">
                                    <label for="pulse">Pulse</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group floating-label">
                                    <input type="text" class="form-control" id="respiration" value="" floating-input="" ng-model="sedationDetails.respiration">
                                    <label for="respiration">Respiration</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group floating-label">
                                    <input type="text" class="form-control" id="weight" value="" floating-input="" ng-model="sedationDetails.weight">
                                    <label for="weight">weight</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveTPRWInformation()">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</section>
