@var1: #e5e6e6;
@default: #313534;
@var3: #ff00cc;
@var4: #000000;
@default-bright: #ffffff;
@default-bright-hover: #e6e6e6;
@default-light: #969c9c;
@default-light-hover: #7c8383;
@default-hover: #191a1a;
@default-dark: #20252b;
@default-dark-hover: #0a0c0e;
@primary-bright: #caf0ee;
@primary-bright-alt: #a2e5e1;
@var14: #7dd8d2;
@var15: #56cdc5;
@var16: #0aa89e;
@var17: #077871;
@var18: #066265;
@var19: #033334;
@var20: #e9c9ef;
@var21: #d9a1e3;
@var22: #c77bd4;
@var23: #b755c8;
@var24: #9c27b0;
@var25: #771e86;
@var26: #681a7f;
@var27: #461155;
@var28: #2196f3;
@var29: #0c7cd5;
@var30: #ff9800;
@var31: #cc7a00;
@var32: #f44336;
@var33: #ea1c0d;
@var34: #4caf50;
@var35: #3d8b40;
@var36: #242a31;
@var37: #f2f3f3;
@var38: #2b323a;
@var39: #313942;
@var40: #0c0c0c;
@var41: #535858;
@var42: #b0b5b4;
@var43: #a6ede8;
@var44: #e69c2e;
@var45: #e65045;
@var46: #45e64a;
@var47: #c5c9c8;
@var48: #ededed;
@var49: #bdc1c1;
@var50: #d8dada;
@var51: #d2d5d5;
@var52: #dfe1e1;
@var53: #060708;
@var54: #111317;
@var55: #9ae3de;
@var56: #aee8e5;
@var57: #4ecac2;
@var58: #62d0c9;
@var59: #022a2b;
@var60: #044143;
@var61: #d699e1;
@var62: #deade7;
@var63: #b34dc5;
@var64: #bc60cc;
@var65: #701c7e;
@var66: #822193;
@var67: #3f104d;
@var68: #501462;
@var69: #dddddd;
@var70: #dddddd;
@var71: #1c2025;
@var72: #edeeee;
@var73: #fafafa;
@var74: #2d2f2f;
@var75: #4e5352;
@var76: #919797;
@var77: #b8bcbc;
@var78: #099e95;
@var79: #76d6cf;
@var80: #05585b;
@var81: #c2eeeb;
@var82: #9525a8;
@var83: #c474d2;
@var84: #611877;
@var85: #e6c1ec;
@var86: #49a84d;
@var87: #f59200;
@var88: #f33a2c;
@var89: #1791f2;
@var90: #a3a8a8;
@var91: #d9d9d9;
@var92: #e0e0e0;
@var93: #444444;
@var94: #f7f7f9;
@var95: #da4950;
@var96: #2f6f9f;
@var97: #999999;
@var98: #cd5c5c;
@var99: #4f9fcf;
@var100: #333333;
@var101: #009999;
@var102: #aeaeae;

