<div class="hbox-md col-md-12" ng-controller="StudydetailsCtrl">
    <div class="hbox-column col-md-12" ng-show="isProcedureDetails">
        <section class="style-default-bright">
            <div class="section-head">
                <div class="tools">
                    <a class="btn btn-primary hidden-xs pull-right" ng-click="changeProcedureView();"><span class="glyphicon glyphicon-arrow-left"></span> Back to List</a>
                </div>
            </div>
            <div class="section-body">
                <br>
                <br>
                <div ng-if="procedureCreationStatus === 'view'" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Procedure Type</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">{{studyProcedure.procedureType}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="studyProcedure.procedureType === 'SAMPLE COLLECTION'">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Tube Type</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static">{{studyProcedure.bloodSample.tubeType}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Quantity</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static">{{studyProcedure.bloodSample.quantity}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Multiple Tubes</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static">{{studyProcedure.bloodSample.multipleTubes}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Quantity Per Tube</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static">{{studyProcedure.bloodSample.quantityPerTube}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <form class="form" name="procedureForm" novalidate ng-submit="saveProcedureDetails()">
                        <div class="row">
                            <div class="col-md-4" ng-if="procedureCreationStatus === 'create' || procedureCreationStatus === 'edit'">
                                <div class="form-group floating-label">
                                    <select class="form-control" id="protocol" floating-input="" name="procedureType" ng-model="$parent.studyProcedure.procedureType" required ng-init="getProcedureTypes()" ng-change="getSubProcedureTypes()">
                                        <option value=""></option>
                                        <option ng-repeat="type in procedureConstantValues | filter:{name:'procedure.type'}" value="{{type.value}}">{{type.value}}</option>
                                    </select>
                                    <label for="procedureType">Procedure Type</label>
                                </div>
                            </div>

                        </div>
                        <div ng-if="studyProcedure.procedureType === 'SAMPLE COLLECTION'">
                            <div ng-if="procedureCreationStatus === 'create' || procedureCreationStatus === 'edit'">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group floating-label">
                                            <select class="form-control" id="typeType" floating-input="" name="bloodSampleTubeType"
                                                    ng-model="studyProcedure.bloodSample.tubeType">
                                                <option value=""></option>
                                                <option ng-repeat="type in procedureConstantValues | filter:{name:'procedure.bloodsample.tubetype'}" value="{{type.value}}">{{type.value}}</option>
                                            </select>
                                            <label for="bloodSampleTubeType">Tube Type</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group floating-label">
                                            <select class="form-control" id="quantity" floating-input="" name="bloodSampleQuantity"
                                                    ng-model="studyProcedure.bloodSample.quantity">
                                                <option value=""></option>
                                                <option ng-repeat="type in procedureConstantValues | filter:{name:'procedure.bloodsample.quantity'}" value="{{type.value}}">{{type.value}}</option>
                                            </select>
                                            <label for="bloodSampleQuantity">Quantity</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group floating-label">
                                            <select class="form-control" id="multipleTubes" floating-input="" name="bloodSampleMultipleTubes"
                                                    ng-model="studyProcedure.bloodSample.multipleTubes">
                                                <option value=""></option>
                                                <option ng-repeat="type in procedureConstantValues | filter:{name:'procedure.bloodsample.multipletubes'}" value="{{type.value}}">{{type.value}}</option>
                                            </select>
                                            <label for="bloodSampleMultipleTubes">Multiple Tubes</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group floating-label">
                                            <select class="form-control" id="quantityPerTube" floating-input="" name="bloodsampleQuantityPerTube"
                                                    ng-model="studyProcedure.bloodSample.quantityPerTube">
                                                <option value=""></option>
                                                <option ng-repeat="type in procedureConstantValues | filter:{name:'procedure.bloodsample.quantitypertube'}" value="{{type.value}}">{{type.value}}</option>
                                            </select>
                                            <label for="bloodsampleQuantityPerTube">Quantity Per Tube</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="studyProcedure.procedureSubType === 'biopsy'">
                            <div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group floating-label">
                                            <select class="form-control" id="specimen" floating-input="" name="specimen"
                                                    ng-model="studyProcedure.biopsy.specimen" ng-disabled="!studyProcedure.procedureSubType" ng-change="getProcedureFields('building')">
                                                <option ng-repeat="field in biopsyFields.shippedTo" value="{{field | lowercase | nospace}}">{{field}}</option>
                                            </select>
                                            <label for="specimen">Specimen</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group floating-label">
                                            <select class="form-control" id="building" floating-input="" name="building"
                                                    ng-model="studyProcedure.bloodSample.building" ng-disabled="!studyProcedure.bloodSample.shippedTo" ng-change="getProcedureFields('freezer')">
                                                <option ng-repeat="field in bloodSampleFields.building" value="{{field | lowercase | nospace}}">{{field}}</option>
                                            </select>
                                            <label for="building">Building</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group floating-label">
                                            <select class="form-control" id="freezer" floating-input="" name="freezer"
                                                    ng-model="studyProcedure.bloodSample.freezer" ng-disabled="!studyProcedure.bloodSample.building" ng-change="getProcedureFields('shelf')">
                                                <option ng-repeat="field in bloodSampleFields.freezer" value="{{field | lowercase | nospace}}">{{field}}</option>
                                            </select>
                                            <label for="freezer">Freezer</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-actionbar">
                            <div class="card-actionbar-row">
                                <button type="button" class="btn btn-flat" ng-click="changeProcedureView()" ng-if="procedureCreationStatus === 'create' || procedureCreationStatus === 'edit'">Cancel</button>
                                <button type="submit" class="btn btn-primary" ng-if="procedureCreationStatus === 'create' || procedureCreationStatus === 'edit'">Save</button>
                                <button type="button" class="btn btn-primary" ng-if="procedureCreationStatus === 'view'" ng-click="$parent.procedureCreationStatus = 'edit'">Edit</button>
                            </div>
                            <!--end .card-actionbar-row -->
                        </div>
                    </form>
                </div>
                <div class="row" ng-if="studyProcedure.bloodSample && studyProcedure.id">
                    <form class="form" name="procedureTestsForm" novalidate ng-submit="saveProcedureTestDetails()">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group floating-label">
                                    <select class="form-control" id="bloodsampleTest" floating-input="" name="bloodsampleTest"
                                            ng-model="studyProcedure.bloodSample.test">
                                        <option value=""></option>
                                        <option ng-repeat="type in procedureConstantValues | filter:{name:'procedure.bloodsample.test'}" value="{{type.value}}">{{type.value}}</option>
                                    </select>
                                    <label for="bloodsampleTest">Test</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group floating-label">
                                    <select class="form-control" id="bloodsampleDestination" floating-input="" name="bloodsampleDestination"
                                            ng-model="studyProcedure.bloodSample.destination">
                                        <option value=""></option>bloodsampleDestination
                                        <option ng-repeat="type in procedureConstantValues | filter:{name:'procedure.bloodsample.destination'}" value="{{type.value}}">{{type.value}}</option>
                                    </select>
                                    <label for="bloodsampleDestination">Destination</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <div class="hbox-column col-md-12" ng-hide="isProcedureDetails">
        <section class="style-default-bright">
            <div class="section-head">
                <div class="tools">
                    <a class="btn btn-primary hidden-xs pull-right" ng-click="showAddProcedure()"><span class="glyphicon glyphicon-plus"></span> Add</a>
                </div>
            </div>
            <div class="section-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Procedure Id</th>
                                <th>Animal Count</th>
                                <th>Procedure Type</th>
                                <th>Lab Technician</th>
                                <th>Status</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="proc in study.procedures">
                                <td>{{proc.id}}</td>
                                <td>{{proc.animals.length || 0}}</td>
                                <td>{{proc.procedureType}}</td>
                                <td>{{proc.labTechnician}}</td>
                                <td>{{proc.status}}</td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Edit row" ng-click="$parent.procedureCreationStatus = 'view';changeProcedureView();getProcedureDetails(proc.id);"><i class="fa fa-pencil"></i></button>
                                    <!--<button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Copy row"><i class="fa fa-copy"></i></button>-->
                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--end .section-body -->
        </section>
    </div>
</div>
