<div ng-controller="StudydetailsCtrl">
    <div class="hbox-md col-md-12" ng-show="groupAnimals">
        <div class="hbox-column col-md-12">
            <div class="hbox-md col-md-12">
                <div class="hbox-column col-md-2 style-default-light">
                    <form class="margin-bottom-xxl" id="groupForm" name="groupForm" ng-submit="createGroup()" novalidate  ng-show="isPI || isRes">

                        <div class="form-group float-label">
                            <ng-form name="groupForm_test">
                                <div class="input-group" ng-class="{'has-error':groupForm.newGroupName.$error.required && (groupForm.newGroupName.$dirty || isGroupFormSubmitted)}">
                                    <div class="input-group-content">
                                        <input type="text" class="form-control" id="newGroupName" name="newGroupName" float-input placeholder="New group name" ng-model="newGroupName" required>
                                        <span id="protocol-error" class="help-block" ng-show="groupForm.newGroupName.$error.required && (groupForm.newGroupName.$dirty || isGroupFormSubmitted)">This field is required</span>
                                    </div>
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">Add</button>
                                    </div>
                                </div>
                            </ng-form>
                        </div>
                    </form>
                    <ul class="nav nav-pills nav-stacked">
                        <li><small>Groups</small></li>
                        <li class="group-li active" ng-click="setGroupActive($event,-1)"><a>All</a></li>
                        <li class="group-li" ng-click="setGroupActive($event,0)"><a>Un-Assigned</a></li>
                        <li ng-repeat="grp in animalGroups" class="group-li" ng-click="setGroupActive($event, grp)" data-drop="true" ng-model="grp.animals" jqyoui-droppable="{multiple:true,onDrop:'dropCallback(grp)'}"><a href="">{{grp.groupName}}<small class="pull-right text-bold badge opacity-75">{{grp.animals.length || 0}}</small></a></li>
                    </ul>
                </div>
                <div class="hbox-column col-md-10">
                    <div class="margin-bottom-xxl">
                        <h3 class="text-light no-margin">Animal List</h3>
                        <div class="btn-group stick-top-right">
                            <div class="row" ng-show="isPI || isRes">
                                <div class="col-md-7" ng-show="assignAnimalsSelected">
                                    <div class="form-group">
                                        <select ng-model="assignToGroup" class="form-control" name="animalGroupAssign" id="animalGroupAssign">
                                            <option value="">Select Group</option>
                                            <option value="{{grp.id}}" ng-repeat="grp in animalGroups">{{grp.groupName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-show="assignAnimalsSelected">
                                    <a ng-click="assignAnimalsToGroup();" class="btn btn-primary">Assign</a>
                                </div>
                                <div class="col-md-4" ng-hide="assignAnimalsSelected">
                                    <a ng-click="hideGroupAnimals();" class="btn btn-primary">Add Animal</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end .margin-bottom-xxl -->

                    <table class="table table-striped table-condensed"  st-table="studyAnimals" st-safe-src="animalsList" >
                        <thead>
                            <tr>
                                <th ng-show="selectedGroupId === 0 && (isPI || isRes)">
                                    <input type="checkbox" ng-model="studyAnimalsSelected" ng-change="selectAllAnimals(studyAnimalsSelected, studyAnimals)" />
                                </th>
                                <th class="st-sort" st-sort="animalId">Animal Id</th>
                                <th class="st-sort" st-sort="species">Species</th>
                                <th class="st-sort" st-sort="sex">Sex</th>
                                <th class="st-sort" st-sort="client">Client</th>
                                <th class="st-sort" st-sort="contractNumber">Contract No.</th>
                                <th class="st-sort" st-sort="groupName">Group</th>
                                <th class="st-sort" st-sort="status">Status</th>
                                <th class="text-right" ng-show="(isPI || isRes) && selectedGroupId !== -1">Remove</th>
                            </tr>
                            <tr>
                                <th ng-show="selectedGroupId === 0 && (isPI || isRes)"></th>
                                <th>
                                    <input st-search="animalId" placeholder="search for Animal Id" class="input-sm form-control" type="search" />
                                </th>
                                <th>
                                    <select class="input-sm form-control" st-search="species">
                                        <option value="">Seearch Species</option>
                                        <option ng-repeat="item in allSpecies" value="{{item}}">{{item}}</option>
                                    </select>
                                </th>
                                <th>
                                    <select class="input-sm form-control" st-search="sex">
                                        <option value="">Search Sex</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </th>
                                <th>
                                    <input st-search="client" placeholder="search for Client" class="input-sm form-control" type="search" />
                                </th>
                                <th>
                                    <input st-search="contractNumber" placeholder="search for Contract Number" class="input-sm form-control" type="search" />
                                </th>
                                <th>
                                    <input st-search="groupName" placeholder="search for Group" class="input-sm form-control" type="search" />
                                </th>
                                <th>
                                    <input st-search="status" placeholder="search for Status" class="input-sm form-control" type="search" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="animal in studyAnimals"
                                data-drag="selectedGroupId === 0 && (isPI || isRes)" data-jqyoui-options="{revert: 'invalid', helper: 'clone',cursor: 'auto',cursorAt: { left: 0,bottom:40 }}"
                                ng-model="animalsList" jqyoui-draggable="{index: {{$index}}, animate: false, onStart:'startCallback(animal, $index)',onStop:'stopCallback(animal)'}">
                                <td ng-show="selectedGroupId === 0 && (isPI || isRes)">
                                    <input type="checkbox" ng-model="animal.selected" ng-change="checkAssignedAnimals()" />
                                </td>
                                <td><a class="btn ink-reaction btn-flat btn-xs btn-primary" href="">{{animal.animalId}}</a></td>
                                <!--<td class="ng-binding">{{animal.oldId}}</td>-->
                                <td>{{animal.species}}</td>
                                <td>{{animal.sex}}</td>
                                <td>{{animal.client}}</td>
                                <td>{{animal.contractNumber}}</td>
                                <td>{{animal.groupName}}</td>
                                <td>{{animal.status}}</td>
                                <td class="text-right" ng-show="(isPI || isRes) && selectedGroupId !== -1">
                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row" ng-click="unassignAnimals($index, animal.id)"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="hbox-md col-md-12" ng-hide="groupAnimals">
        <div class="hbox-column col-md-12">
            <div class="col-md-12">
                <div class="margin-bottom-xxl">
                    <h3 class="text-light no-margin">Animal List</h3>
                    <div class="btn-group stick-top-right">
                        <a ng-click="assignAnimalsTostudy();" class="btn btn-primary"><i class="fa fa-plus"></i> Assign</a>
                        <a ng-click="showGroupAnimals();" class="btn btn-default">Cancel</a>
                    </div>
                </div>
                <!--<div class="margin-bottom-xxl">
                    <form class="form">
                        <div class="card">
                            <div class="card-body">
                                <em class="text-caption">Search</em>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group floating-label">
                                            <input type="text" class="form-control" id="searchAnimalClient">
                                            <label for="searchAnimalClient">Client</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group floating-labell">
                                            <input type="text" class="form-control" id="searchAnimalConteacrNo">
                                            <label for="searchAnimalConteacrNo">Contract Number</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group floating-label">
                                            <input type="text" class="form-control" id="searchAnimalConteacrNo">
                                            <label for="searchAnimalConteacrNo">Contract Number</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3bt">
                                        <button type="submit" class="btn btn-raised btn-primary ink-reaction">Search</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>-->
                <!--end .margin-bottom-xxl -->
                <table class="table table-striped table-condensed" st-table="unassignedAnimalsSafe" st-safe-src="unassignedAnimals">
                    <thead>
                        <tr>
                            <td>
                                <input type="checkbox" ng-model="studyUnassignedAnimalsSelected" ng-change="selectAllAnimals(studyUnassignedAnimalsSelected, unassignedAnimalsSafe)" />
                            </td>
                            <th class="st-sort" st-sort="animalId">Animal Id</th>
                            <th class="st-sort" st-sort="species">Species</th>
                            <th class="st-sort" st-sort="sex">Sex</th>
                            <th class="st-sort" st-sort="client">Client</th>
                            <th class="st-sort" st-sort="contractNumber">Contract No.</th>
                            <th class="st-sort" st-sort="status">Status</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>
                                <input st-search="animalId" placeholder="search for Animal Id" class="input-sm form-control" type="search" />
                            </th>
                            <!--<th>
                                <input st-search="oldId" placeholder="search for Old Id" class="input-sm form-control" type="search" />
                            </th>-->
                            <th>
                                <select class="input-sm form-control" st-search="species">
                                    <option value="">Seearch Species</option>
                                    <option ng-repeat="item in allSpecies" value="{{item}}">{{item}}</option>
                                </select>
                            </th>
                            <th>
                                <select class="input-sm form-control" st-search="sex">
                                    <option value="">Search Sex</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </th>
                            <th>
                                <input st-search="client" placeholder="search for Client" class="input-sm form-control" type="search" />
                            </th>
                            <th>
                                <input st-search="contractNumber" placeholder="search for Contract Number" class="input-sm form-control" type="search" />
                            </th>
                            <th>
                                <input st-search="status" placeholder="search for Status" class="input-sm form-control" type="search" />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="animal in unassignedAnimalsSafe">
                            <td>
                                <input type="checkbox" ng-model="animal.selected">
                            </td>
                            <td><a class="btn ink-reaction btn-flat btn-xs btn-primary" href="">{{animal.animalId}}</a></td>
                            <!--<td class="ng-binding">{{animal.oldId}}</td>-->
                            <td class="ng-binding">{{animal.species}}</td>
                            <td class="ng-binding">{{animal.sex}}</td>
                            <td class="ng-binding">{{animal.client}}</td>
                            <td class="ng-binding">{{animal.contractNumber}}</td>
                            <td class="ng-binding">{{animal.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
