<section ng-controller="ProcedureCreateCtrl">
    <toaster-container toaster-options="{'bodyOutputType':'trustedHtml'}"></toaster-container>
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active">Create Clinical Procedure</li>
        </ol>
    </div>
    <div class="section-body contain-lg">
        <!-- BEGIN DEFAULT TABLE -->
        <div class="row">
            <div class="col-md-12">
                <div class="card style-primary-light">
                    <div class="card-head">
                        <div class="tools" ng-if="isPI || isRes">
                            <div class="btn-group">
                                <a class="btn btn-floating-action btn-default-light ink-reaction" ui-sref="procedure-create"><i class="md md-add"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body style-default-bright">
                        <form class="form" name="procedureForm" novalidate ng-submit="saveProcedureInformation()">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group floating-label">
                                        <select class="form-control" id="procedureType" floating-input="" name="procedureType" ng-model="clinicalProcedure.procedureType" required>
                                            <option value=""></option>
                                            <option ng-repeat="type in procedureConstantValues | filter:{name:'procedure.type.clinical'}" value="{{type.value}}" ng-selected="clinicalProcedure.procedureType === type.value">{{type.value}}</option>
                                        </select>
                                        <label for="procedureType">Procedure Type</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group floating-label">
                                        <select class="form-control" id="vetTecUsers" floating-input="" name="vetTecUsers" ng-model="clinicalProcedure.procVetTechnician" required>
                                            <option value=""></option>
                                            <option ng-repeat="user in vetUsers" value="{{user.id}}">{{user.firstName}} {{user.lastName}}</option>
                                        </select>
                                        <label for="vetTecUsers">Vet Technician</label>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="clinicalProcedure.procedureType === 'TREATMENT'">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group floating-label">
                                            <select class="form-control" id="genericName" floating-input="" name="genericName" ng-model="clinicalProcedure.treatment.genericName" required ng-change="getConstantValue()">
                                                <option value=""></option>
                                                <option ng-repeat="type in procedureConstantValues | filter:{name:'procedure.treatment.genericname'}:true" value="{{type.value}}" ng-selected="clinicalProcedure.treatment.genericName === type.value">{{type.value}}</option>
                                            </select>
                                            <label for="genericName">Generic Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="form-group">                                                
                                                <div class="col-sm-12">
                                                    <p class="form-control-static"><label class="col-sm-4 control-label">Concentration</label> {{clinicalProcedure.treatment.concentration}} {{clinicalProcedure.treatment.concentrationUnit}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <p class="form-control-static">
                                                <label class="col-sm-4 control-label">Dosage</label> {{clinicalProcedure.treatment.dosage}} {{clinicalProcedure.treatment.dosageUnit}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group floating-label">
                                            <select class="form-control" id="treatmentRoute" floating-input="" name="treatmentRoute" ng-model="clinicalProcedure.treatment.route">
                                                <option value=""></option>
                                                <option ng-repeat="type in routeValues" value="{{type.value}}" ng-selected="clinicalProcedure.treatment.route === type.value">{{type.value}}</option>
                                            </select>
                                            <label for="treatmentRoute">Route</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group floating-label">
                                            <select class="form-control" id="treatmentFrequency" floating-input="" name="treatmentFrequency" ng-model="clinicalProcedure.treatment.frequency">
                                                <option value=""></option>
                                                <option ng-repeat="type in frequencyValues" value="{{type.value}}" ng-selected="clinicalProcedure.treatment.frequency === type.value">{{type.value}}</option>
                                            </select>
                                            <label for="treatmentFrequency">Frequency</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group floating-label">
                                            <input class="form-control" id="treatmentNotes" name="treatmentNotes" floating-label="" ng-model="clinicalProcedure.treatment.notes" />
                                            <label for="treatmentNotes">Notes</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-actionbar">
                                <div class="card-actionbar-row">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                                <!--end .card-actionbar-row -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

