.login-bg {
    background-image: url('assets/img/modules/app/bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    padding-left: 0 !important;

    .login-logo{
        position:absolute;
    }
}

.login-card{
    background-color:rgba(54, 57, 61, 0.73);
}
#content{
    min-height:100%;
}

@media only screen and (max-width: 500px) {
    .login-bg {
        margin-left: 0;
        margin-top:0;
    }
}

@media only screen and (max-width: @screen-xs) {
    .login-logo{
        top: -100px;

        .logo img{
            height:100px;
        }
    }
}

@media only screen and (min-width: @screen-xs) {
    .login-logo{
        top: -180px;
        .logo img{
            height:150px;
            margin-left:30px;
        }
    }
}

.card.transparent-back {
    background-color: rgba(255, 255, 255, 0.70);
    -webkit-box-shadow: none;
    box-shadow: none;
    color: inherit;
}

.login-input{
    background: rgba(193, 191, 191, 0.6);
    padding:10px 0;
    color:white;
    padding-left:10px;
}

.input-floating-label {
	// Basic label styling
	.form-control ~ label {
		top: 19px;
		font-size: 16px;
        margin-left:10px;
        color:white;
	}

	// Expand the line when the input is focused or dirty
	.form-control:focus ~ label, .form-control.dirty ~ label {
		top: -5px;
		font-size: @font-size-small !important;
        margin-left:0px;
        color:white;
	}
}

.light-gray{
    background-color:rgb(104, 106, 107) !important;
}

.login-container{
    max-width:540px !important;
}
