<section ng-controller="ClientsListCtrl">
    <toaster-container toaster-options="{'body-output-type':'trustedHtml'}"></toaster-container>
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active">Clients</li>
        </ol>
    </div>
    <div class="section-body contain-lg">
        <!-- BEGIN DEFAULT TABLE -->
        <div class="row">
            <div class="col-md-12">
                <div class="card style-primary-light">
                    <div class="card-head">
                        <div class="tools" ng-if="canCreate">
                            <a class="btn btn-floating-action btn-default-light" ng-if="canCreate" ui-sref="clientProfile({ id: 0 })"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                    <div class="card-body style-default-bright">
                        <div class="table-responsive">
                            <table id="protocolList" class="table table-striped table-hover dataTable no-footer" role="grid" datatable="ng" dt-options="dtOptions">
                                <thead>
                                    <tr role="row">
                                        <th>Name</th>
                                        <th>Charge Code</th>
                                        <th>Email</th>
                                        <th>Phone1</th>
										<th>Phone2</th>
                                        <th>Business Address</th>
										<th>City</th>
										<th>State</th>
										<th>Zip</th>
										<th>Billing Address</th>
										<th>Billing Contact</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="client in clientsList">
                                        <td><a class="btn ink-reaction btn-flat btn-xs btn-primary" ui-sref="clientProfile({ id: client.id })" ng-if="canCreate">{{client.clientName}}</a><span ng-if="!canCreate">{{client.clientName}}</span></td>
                                        <td>{{client.chargeCode}}</td>
                                        <td>{{client.email}}</td>
                                        <td mask="(999) 999-9999" ng-model="client.phoneNumber">{{client.phone1}}</td>
										<td mask="(999) 999-9999" ng-model="client.phoneNumber">{{client.phone2}}</td>
                                        <td>{{client.address}}</td>
										<td>{{client.city}}</td>
										<td>{{client.state}}</td>
										<td>{{client.zip}}</td>
										<td>{{client.billingAddress}}</td>
										<td>{{client.billingContact}}</td>										
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- end .table-responsive -->
                    </div>
                    <!-- end .card-body -->
                </div>
                <!-- end .card -->
            </div>
            <!-- end .col -->
        </div>
        <!-- end .row
        END DEFAULT TABLE -->
    </div>
    <!--end .section-body -->
</section>
