<section ng-controller="ProtocolListCtrl">
	<toaster-container toaster-options="{'body-output-type':'trustedHtml'}"></toaster-container>
	<div class="section-header">
		<ol class="breadcrumb">
			<li class="active">Protocols</li>
		</ol>
	</div>
	<div class="section-body contain-lg">
		<!-- BEGIN DEFAULT TABLE -->
		<div class="row">
			<div class="col-md-12">
				<div class="card style-primary-light">
					<div class="card-head">
						<div class="tools" ng-if="isPI ||isLab ||isRes">
							<div class="btn-group">
								<a class="btn btn-floating-action btn-default-light ink-reaction" ng-click="createProtocol()"><i class="md md-add" ng-hide="isCreating"></i><i class="md md-rotate-right md-spin" ng-show="isCreating"></i></a>
							</div>
						</div>
					</div>
					<div class="card-body style-default-bright">
						<div class="table-responsive">
							<table id="protocolList" class="table table-striped table-hover dataTable no-footer" role="grid" datatable="ng" dt-options="dtOptions">
								<thead>
									<tr role="row">
										<th>P ID</th>
										<th>Code</th>
										<th>PI /RS/LV</th>
										<th>Approval Date</th>
										<th>Expiration Date</th>
										<th style="width:110px">Status</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="protocol in protocols">
										<td><a class="btn ink-reaction btn-flat btn-xs btn-primary" ui-sref="protocolDetails({id:protocol.id,type:'edit'})">{{protocol.id || '' | zpad:5}}</a></td>
										<td><a ui-sref="protocolDetails({id:protocol.id,type:'edit'})">{{protocol.proposalNumber}}</a></td>
										<td>{{protocol.piUser.firstName}} {{protocol.piUser.lastName}}</td>
										<td>{{protocol.approvalDate | date:'MM/dd/yyyy'}}</td>
										<td>{{protocol.expirationDate | date:'MM/dd/yyyy'}}</td>
										<td ng-class="{'text-info': protocol.status == 'REVIEW' || protocol.status == 'PRE_REVIEW' , 'text-success': protocol.status == 'APPROVED','text-warning': protocol.status == 'PENDING', 'text-danger': protocol.status == 'DISCARDED'}" ><i class="md" ng-class="{'md-done': protocol.status == 'REVIEW' || protocol.status == 'PRE_REVIEW' , 'md-done-all': protocol.status == 'APPROVED','md-warning': protocol.status == 'PENDING', 'md-error': protocol.status == 'DISCARDED'}"></i> {{protocol.status}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--end .table-responsive -->
					</div>
					<!--end .card-body -->
				</div>
				<!--end .card -->
			</div>
			<!--end .col -->
		</div>
		<!--end .row -->
		<!-- END DEFAULT TABLE -->
	</div>
	<!--end .section-body -->
</section>
